Source: rpbar
Section: x11
Priority: extra
Maintainer: Axel Beckert <abe@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://github.com/dimatura/rpbar
Vcs-Git: git://github.com/xtaran/rpbar.git
Vcs-Browser: http://github.com/xtaran/rpbar

Package: rpbar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ratpoison
Description: taskbar for the ratpoison window manager
 The 'default' way to switch windows in Ratpoison is to press <C-t>
 <w> to get the window list, find the number of the window you want to
 switch to (let's say it's 2), and press <C-t> <2> to switch to that
 window.
 .
 rpbar is a simple taskbar that gives a permanent display of the
 windows in the current group in order to make the first <C-t> <w>
 unnecesary. As a concession to The Rat, clicking on a window title
 will select that window. This is useful for one-handed window
 selection.
 .
 The main inspiration is the simple task bars you get in other
 minimalistic window managers such as Awesome or wmii. rpbar's
 appearance is modeled on these task bars.
